@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

header{
	display: flex;
	justify-content: space-around;
	padding: 16px;
	width: 100%;
	background-color: rgba(255, 200, 200, 0.3);
}
form{
	display: flex;
}
.informacion{
	display: flex;
	justify-content: center;
	margin-bottom: 2em;
	flex-wrap: wrap;
}
.infoParr{
	max-width: 380px;
	margin-left: 2em;
	margin-right: 2em;
}
.infoParr h5{
	color: rgba(232, 0, 0, 1);
}
.infoParr p{
	margin-top: 2em;
	color: rgba(3 , 3, 193, 1);
	text-align: justify;
}

.selectNav{
	display: flex;
	padding: 1em;
	flex-wrap: wrap;
	justify-content: center;
}
.selectContainer{
	display: block;
	text-align: center;
	width: 160px !important;
	margin: 2px;
	color: rgba(3 , 3, 193, 1);
}
.headTitle{
	font-size: 1.5em;
	align-self: center;
	margin-bottom: 0;
	color: rgba(232, 0, 0, 1);
	
}

.listItem{
	display: flex;
	font-size: 12px;
	margin-top: 8px;
	width: 100%;
}
.listItem p{
	font-size: 12px;
}
.form-select{
	font-size: 0.7em;
	color: rgba(3 , 3, 193, 1);
}
.buttonPar{
	font-size: 12px;
}

.listContainer{
	display: flex;
	justify-content: space-between;
}
.listLabel{
	margin-left: 12px;
}
.labelSelect{
	font-size: 18px;
}
.labelSelect p{
	font-size: 12px;
	color: rgba(206, 23, 23, 1);
}
.playButt{
	display: flex;
	align-self: center;
	width: 50px;
	justify-content: center;
}
.aQuien{
	/*background-color: transparent;*/
	border: 0;
	justify-self: center;
	text-align: center;
}
.inputBox{
	display: flex;
	padding: 1em;
	flex-wrap: wrap;
	justify-content: center;
}

.optionArea{
	display: block !important;
}
#output1{
	margin: 4px;
	padding: 4px;
}
.fraseFinal{
	display: flex;
	flex-flow: column;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	color: rgba(3 , 3, 193, 1);
}
footer{
	height: 80px;
	width: 100%;
	background-color: rgba(130, 130, 255, 0.3);
}
